/* class combinations */


/* .button-danger {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: red;
}

.button-warning {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: yellow;
}

.button-info {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: lightblue;
} */

.btn {
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}

.btn-danger {
    background-color: red;
}

.btn-warning {
    background-color: yellow;
}

.btn-info {
    background-color: lightblue;
}





/* how to calculate css selectors specificity */

/* id-class-type selector */

/* 1-0-0 */
#heading {
    color: green
}

/* 0-0-1 */
h1 {
    color: purple !important;
}

/* 0-1-0 */
.heading {
    color: blue;
}

/* 0-2-1 */
.content p.text {
    color: blue;
}

/* 0-1-1 */
.content p {
    color: red
}

/* 1-0-1 */
#content button {
    background-color: brown;
}

/* 0-3-2 */
.content section.sub-section button.btn {
    background-color: lightskyblue
}

/* 0-3-1 */
.content .sub-section button.btn {
    background-color: orange;
}

/* 0-3-0 */
.content .sub-section .btn {
    background-color: pink;
}

/* 0-1-1 */
.content button {
    background-color: red;
}

/* 0-2-1 */
.content button.btn {
    background-color: yellow;
}

/* 0-3-0 */
.content .btn.btn-warning {
    background-color: purple;
}




